#header-img {
    vertical-align: bottom;
    height: 250px;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 55%;
    border: 10px solid #9bb7d0;
  
}

header{
    position: sticky;
    top: 0px;
}


figure {
    margin-left: 10px;
}

#about-me{
    border: solid;
}    

#about-me h2{
    font-size: 42px;
    text-shadow: 5px 5px 10px;
}    


.bio-p {
    text-indent: 15px;
    font-size: 26px;
    padding-left: 10px;
}    

#my-works-hdr{
    margin-top: 50px;
    box-shadow: 0 0 20px;
}

#day-sched-btn:hover p{
    background-color:rgb(54, 107, 168);
}
#day-sched-btn:hover{
    box-shadow: 0px 0px 40px;
}

#non-social-btn:hover p{
    background-color: rgb(54, 107, 168);
}

#non-social-btn:hover{
    box-shadow: 0 0px 40px;
}

#generate-psswd-btn:hover p{
    background-color: rgb(54, 107, 168);
}

#generate-psswd-btn:hover{
    box-shadow: 0 0px 40px;
}


@media screen and (max-width:600px){
.bio-p{
    font-size: 15px;
}
}

#btn-plate{
    margin-top: 40px;
}

/* html {
    background-color:#3b476d;
}

body {
    
    margin: 0;
}

header {
    background-color: rgb(59, 59, 54);
}

header h1 {
    background-color: gray;
    margin: 0;
    padding: 10px;
    width: 200px;
    color: whitesmoke;
}

.header-img {
    vertical-align: bottom;
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 55%;
    
}

nav {
    display: flex;
    justify-content: space-around;
    background-color:#3b3c5b;
    box-shadow: 0px 0px 5px 5px gray inset;
    height: 45px;
    align-items: center;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

main {
    display: flex;
    padding: 1% 8% 2% 0.5%;
    margin-bottom: 100px;
}

aside {
    background-color: lightslategray;
    padding: 5px 10px;
    margin-right: 100px;
    width: 275px;
    min-width: 275px;
    border-radius: 5px;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

aside h1 {
    margin: 0;
}

hr {
    border-top: 3px solid gray;
    border-radius: 3px;
    margin: 0;
}

aside ul {
    list-style: none;
    padding: 0;
}

span {
    font-weight: bolder;
}

.aside-li {
    margin-bottom: 10px;
}

#article-head {
    text-align: center;
  }  

#My-work {
    width: 80%;
    background-color: lightslategray;
    padding: 10px;
    border-radius: 5px;
}

.article-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.cards {
    margin: 10px 0px;
    width: 375px;
    height: 150px;
    background-color: #3b6d61;
    text-align: center;
    border-radius: 10px;
}

.cards:hover {
    background-color: teal;
    width: 400px;
}

#about-card {
    box-shadow: 0px 0px 5px 5px rgb(75, 75, 75) inset;
    margin: auto;
    padding: 15px;
    width: 70%;
    border-radius: 15px;
    background-color: lightslategray;
}

#about-card h1 {
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 5px 0;
}


#about-p {
   border: solid;
   border-radius: 10px;
   text-align: center;
   width: 96%;
   padding: 15px;
   margin: auto;
   background-color: teal;
}

#contact-card {
    box-shadow: 0px 0px 5px 5px rgb(75, 75, 75) inset;
    margin: 100px auto;
    padding: 15px;
    width: 40%;
    border-radius: 15px;
    background-color: lightslategray;
}

#contact-card h1 {
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 5px 0;
}

#contact-info {
    border: solid;
    border-radius: 10px;
    width: 96%;
    margin: auto;
    background-color: teal;
}

.projects {
    box-shadow: 0px 0px 5px 5px rgb(75, 75, 75) inset;
    margin: 300px auto;
    padding: 15px;
    width: 40%;
    border-radius: 15px;
    background-color: lightslategray;
}

#project-1 {
    text-align: center;
    border: solid;
    border-radius: 10px;
    width: 96%;
    margin: auto;
    background-color: teal;
}

#TBA img{
    height: 500px;
} */

