#header-img {
    vertical-align: bottom;
    height: 250px;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 55%;
    border: 10px solid #9bb7d0;
  
}

header{
    position: sticky;
    top: 0px;
}


figure {
    margin-left: 10px;
}

#about-me{
    border: solid;
}    

#about-me h2{
    font-size: 48px;
    text-shadow: 5px 5px 10px;
}    


.bio-p {
    text-indent: 15px;
    font-size: 26px;
    padding-left: 10px;
}    

#my-works-hdr{
    margin-top: 50px;
    box-shadow: 0 0 20px;
}

#day-sched-btn:hover p{
    background-color:rgb(54, 107, 168);
}
#day-sched-btn:hover{
    box-shadow: 0px 0px 40px;
}

#non-social-btn:hover p{
    background-color: rgb(54, 107, 168);
}

#non-social-btn:hover{
    box-shadow: 0 0px 40px;
}

#generate-psswd-btn:hover p{
    background-color: rgb(54, 107, 168);
}

#generate-psswd-btn:hover{
    box-shadow: 0 0px 40px;
}


@media screen and (max-width:600px){
.bio-p{
    font-size: 15px;
}
}

#btn-plate{
    margin-top: 40px;
}
